.env
/.project
/.pydevproject
*.pyc
*.swp
*.swo
*.pid
*#
.#*
*TAGS
*.egg-info
.ropeproject
/data
static/*
upload/*
.coverage
cover
celerybeatschedule.db*
env/
bin/
lib/
man/
src/
dist/
build/
include/
.idea/
.vagrant/

*.py[co]

# env
/env
/bin
/lib
/include
/build
/dist

# tests
/man

.ropeproject
# setup
*.egg-info
*.egg
*.swp
.idea

/.settings/org.eclipse.core.resources.prefs
.settings
/settings